:root {
    --primary: #03001C;
    --secondary: #301E67;
    --analogous1: #5B8FB9;
    --analogous2: #B6EADA;
    --primary-text: #D9D9D9;
    --complementary-primary: #140A69
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--primary);
    color: var(--primary-text);
}

.section {
    width: 100vw;
    min-height: 85svh;
    max-height: 100svh;
    padding: 0 5rem 0 5rem;
}

.aka {
    font-weight: lighter;
    margin-right: 1.25rem;
    color: var(--primary-text);
}

.dev-name {
    color: var(--analogous2);
}

.stage-name {
    font-size: 4rem;
    color: var(--analogous2);
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
}

.roman-date {
    color: var(--analogous1);
}

.skill {
    /* background-color: var(--complementary-primary); */
}

.skill .skill-card {
    background-color: var(--primary);
    border-radius: .75rem;
    width: 10rem;
    height: 7rem;
    padding: 2rem;
}

.svg-list {
    width: auto;
    height: 3rem;
    fill: var(--analogous1);
    /* stroke: var(--primary-text);
    stroke-width: -0.2rem;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: inherit; */
}

.virtue minimum {
    color: var(--analogous1);
    opacity: .5;
}

.virtue strong {
    color: var(--analogous1);
    opacity: 1;
}