:root {
    --primary: #03001C;
    --secondary: #301E67;
    --analogous1: #5B8FB9;
    --analogous2: #B6EADA;
    --primary-text: #D9D9D9;
    --complementary-primary: #140A69
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--primary-text);
}

body {
    background-color: var(--primary);
    color: var(--primary-text);
    scroll-snap-type: y mandatory;
}

body .section {
    scroll-snap-align: start;
}

.hero {
    margin: 2rem 0 2rem 0;
    min-height: 85svh;
}

.section-title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.aka {
    font-weight: lighter;
    margin-right: 1.25rem;
    color: var(--primary-text);
}

.dev-name {
    color: var(--analogous2);
}

.stage-name {
    font-size: 4rem;
    color: var(--analogous2);
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 5rem;
}

.roman-date {
    color: var(--analogous1);
}

.skill {
    /* background-color: var(--complementary-primary); */
    overflow-y: scroll;
}

.skill .skill-card {
    background-color: var(--primary);
    border-radius: .75rem;
    width: 10rem;
    height: 100%;
}

.skill .skill-card span {
    vertical-align: text-top;
}

.svg-canvas {
    display: flex;
    height: fit-content;
    width: auto;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.svg-canvas .svg-list {
    width: auto;
    height: 3rem;
    fill: var(--analogous1);
    /* stroke: var(--primary-text);
    stroke-width: -0.2rem;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: inherit; */
}

.virtue minimum {
    color: var(--analogous1);
    opacity: .5;
}

.virtue strong {
    color: var(--analogous1);
    opacity: 1;
}

.working-pic {
    object-fit: contain;
}

.footer {
    background-color: var(--secondary);
}

.footer-icon {
    width: auto;
    height: 1.5rem;
    fill: var(--primary-text);
}

.footer-icon:hover .footer-icon:visited {
    fill: var(--analogous2);
}

.copyright {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.terminal-start {
    color: green;
}

.blink {
    animation: blink-animation 1.25s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.25s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.wave-divider {
    width: 100%;
    aspect-ratio: 1440/225;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave-1 {
    margin-top: -1rem;
    background-image: url(./wave1.svg);
}

.wave-2 {
    margin-top: -1rem;
    background-image: url(./wave2.svg);
}

#more-about-me {
    background-color: var(--secondary);
}